/* src/components/Home.css */
.home-container {
  text-align: center;
}

nav {
  margin-top: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: blue;
}

nav a:hover {
  text-decoration: underline;
}
